.picker-line {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 500;
  color: #333;
  line-height: 37px;
  height: 88px;
}

.indicator {
  height: 88px;
  font-size: 28px;
  font-weight: 500;
}
